# Data and Models
data/
models/

# Python Virtual Environment
.venv/
env/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# OS specific files
.DS_Store
.DS_Store?
._*
Thumds.db

# Project Specific
.env
